body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #2c2c2c;
    font-family: 'Montserrat', sans-serif;
  }
  html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Opcional, si necesitas que el contenido ocupe toda la altura */
  }

  h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
  }

  nav {
    background-color: #5b2333;
    padding: 15px;
    position: relative;
  }
  
  .menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .menu li {
    margin: 0 15px;
  }
  
  .menu a {
    color: white;
    text-decoration: none;
  }
  
  .menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    right: 15px; /* Ajusta la posición horizontal del botón */
  }
  
  .menu-icon .bar {
    background-color: white;
    height: 3px;
    width: 25px;
    margin: 4px 0;
    transition: 0.3s;
  }

  
  header {
    background-image: url('../img/header3.png');
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  
  .header-content {
    margin-right: 90px;
    padding: 20px;
    color: white;
    max-width: 40%;
    justify-content: center;
    align-items: center;
  }

  .header-content h1 {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 50px;
  }

  .header-content button {
    margin: 50px auto 0 auto;
    display: block;
    padding: 10px 20px;
    width: 250px;
    height: 50px;
    background-color: #5b2333; /* Color de fondo inicial */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Suaviza la transición de color */
  }
  
  .header-content button:hover {
    background-color: #863c52; /* Color de fondo al hacer hover */
  }
  

  .header-content button :hover{
    color: #ccc;
  }
   .titulo-propuestas {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cdb203;
    color: aliceblue;
    height: 70px;
    padding: 20px;
    
   }

   .titulo-propuestas h1{
    margin: 0;
    text-align: center;
    font-size: 2em;

   }
  
  .propuestas {
    padding: 50px 20px;
    text-align: center;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-bottom: 20px;
  }

  .propuestas button {
    margin: 50px auto 0 auto;
    display: block;
    padding: 10px 20px;
    width: 300px;
    height: 50px;
    background-color: #5b2333; /* Color de fondo inicial */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Suaviza la transición de color */
  }
  .propuestas button:hover {
    background-color: #863c52; /* Color de fondo al hacer hover */
  }

  
  .biografia {
    padding-top: 20px;
    margin: 0;
    padding: 0;
    background: radial-gradient(circle at bottom, #51b8e8, #0288d1, #01579b);
    color: white; /* Letras blancas */
  }
  
  
  .bio-container {
    display: grid;
    margin-bottom: 0;
    padding-bottom: 0;
    grid-template-columns: 1fr 1fr; /* Dos columnas de igual tamaño */
    gap: 20px;
    
  }
  
  .bio-container img {
    width: 100%; /* Asegura que la imagen ocupe todo el ancho de su contenedor */
    border-radius: 8px;
    position: relative;
    
  }

  .bio-text img {
    width: 100%;
    margin: 0;
    position: relative;
    top: 15px;

  }
  
  .bio-text {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  
  
  .contacto {
    padding: 50px 20px;
    background-color: #f4f4f4;
  }

  .contacto h2 {
    text-align: center; /* Centra el título */
    font-size: 50px;
    
  }
  
  form {
    display: grid;
    gap: 15px;
    max-width: 600px;
    margin: 0 auto;
  }
  
  input, textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    background-color: #5b2333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; /* Ocupa todo el ancho del contenedor */
    display: block; /* Asegura que el botón se comporte como un bloque */
    margin: 0 auto; /* Centra el botón horizontalmente */
  }
  
  .footer {
    position: relative;
    background-image: url('../img/footer.jpg'); /* Imagen de fondo */
    background-size: cover;
    background-position: center 70%;
    padding: 20px 20px;
    padding-bottom: 0;
    color: white;
    text-align: center;
    margin-bottom: 0;
  }
  
  .footer-overlay {
    background-color: rgba(0, 0, 0, 0.6); /* Superposición para oscurecer la imagen */
    padding: 50px 20px;
    border-radius: 8px;
  }
  
  .social-icons {
    margin-bottom: 30px;
  }
  
  .social-icons a {
    margin: 0 10px;
    display: inline-block;
  }
  
  .social-icons i {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease;
    color: aliceblue;
  }
  
  .social-icons img:hover {
    transform: scale(1.1); /* Efecto de zoom al pasar el ratón */
  }
  
  .footer-rights {
    margin: 0; /* Elimina cualquier margen */
    background-color: #003366; /* Franja azul */
    padding: 10px 0;
    color: white;
    margin-top: 20px;
    text-align: center;
    width: 100vw; /* Asegura que cubra todo el ancho de la ventana */
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    box-sizing: border-box;
  }
  
  
  .footer-rights p {
    margin: 0;
  }
  section:last-of-type {
    margin-bottom: 0;
  }


/* Contenedor de iconos flotantes */
.social-icons-container {
    position: fixed; /* Fija el contenedor en la pantalla */
    right: 0; /* Posiciona el contenedor al borde izquierdo */
    top: 50%; /* Centra verticalmente */
    transform: translateY(-50%); /* Ajusta la posición vertical para centrar */
    display: flex;
    flex-direction: column; /* Coloca los iconos en una columna */
    align-items: center; /* Centra los iconos horizontalmente */
    background-color: transparent; /* Fondo transparente para no cubrir el contenido */
    padding: 10px; /* Espacio interno alrededor de los iconos */
  }
  
  .social-icon {
    display: block;
    margin: 10px 0; /* Espacio entre los iconos */
  }
  
  .social-icon i {
    width: 30px; /* Ajusta el tamaño del icono */
    height: 30px;
    transition: transform 0.3s ease; /* Efecto de zoom al pasar el ratón */
    color: #f4f4f4;
  }
  
  .social-icon img:hover {
    transform: scale(1.1); /* Efecto de zoom al pasar el ratón */
  }
  
  
  /*PARA CELULARES*/

  /* Estilos generales para móviles */
@media (max-width: 768px) {

    .menu {
        display: none;
        position: absolute;
        padding: 15px;
        top: 60px; /* Ajusta la posición vertical del menú */
        left: 50%; /* Centra horizontalmente */
        transform: translateX(-50%); /* Ajusta la posición para centrado exacto */
        background-color: #5b2333;
        flex-direction: column;
        width: 200px;
      }
    
      .menu.show {
        display: flex;
      }
    
      .menu-container {
        flex-direction: column;
        padding: 15px;
      }
    
      .menu-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        left: 50%;
        transform: translateX(-50%);
      }
  
  
    header {
      height: 300px; /* Reduce la altura del header */
      background-image: url('../img/header.png');
      background-position: cover;
    }
  
    .header-content {
      margin-right: 30px;
    }

    .header-content h1 {
        font-size: 40px;
        line-height: 40px;
      }
    
    .header-content p {
        text-align: center;
      }

      .header-content button {
        margin: auto;
        width: 100%; /* Ocupa todo el ancho del contenedor */
        padding: 10px 20px; /* Asegura espacio interno suficiente */
        box-sizing: border-box; /* Incluye el padding y el border en el ancho total del botón */
        text-align: center; /* Centra el texto dentro del botón */
        overflow:auto; /* Evita que el texto desborde el botón */
        font-size: 16px; /* Ajusta el tamaño de la fuente si es necesario */
        line-height: 15px;
      }
      
  
    .grid-container {
      grid-template-columns: 1fr; /* Una sola columna */
    }
  
    .bio-container {
      grid-template-columns: 1fr; /* Las imágenes y el texto se apilan */
    }
  
    .bio-container img {
      width: 100%; /* Asegura que las imágenes se ajusten al ancho disponible */
      margin-bottom: 20px; /* Añade un margen inferior */
    }
    .propuestas button {
        margin: auto;
        width: 100%; /* Ocupa todo el ancho del contenedor */
        padding: 10px 20px; /* Asegura espacio interno suficiente */
        box-sizing: border-box; /* Incluye el padding y el border en el ancho total del botón */
        text-align: center; /* Centra el texto dentro del botón */
        overflow:auto; /* Evita que el texto desborde el botón */
        font-size: 16px; /* Ajusta el tamaño de la fuente si es necesario */
        line-height: 15px;
    }
  
    .bio-text img {
      width: 100%; /* Ajusta el ancho de la imagen dentro del texto */
      position: static; /* Restablece la posición relativa */
    }
  
    .footer-overlay {
      padding: 30px 10px; /* Reduce el padding para adaptarse a pantallas pequeñas */
    }
  
    .footer-rights {
      padding: 10px 0;
      font-size: 12px; /* Ajusta el tamaño de la fuente */
    }
  }
  
 
  